@font-face {
	font-family:'FSElliotPro-Heavy';
	src: url("../fonts/FSElliotPro/FSElliotPro-Heavy.otf")
}

@font-face {
	font-family:'FSElliotPro-Light';
	src: url("../fonts/FSElliotPro/FSElliotPro-Light.otf")
}

@font-face {
	font-family:'FSElliotPro-Bold';
	src: url("../fonts/FSElliotPro/FSElliotPro-Bold.otf")
}

@font-face {
	font-family:'FSElliotPro';
	src: url("../fonts/FSElliotPro/FSElliotPro.otf")
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
text-decoration: none;
color: inherit;
}
li {
	list-style: none;
}

.float-clear:after {
    content:'';
    display:table!important;
    clear:both;
    height:0!important;
    visibility:hidden;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

nav {
    background: #191411;
    height: 58px;
}

.icon {
    width: 270px;
    height: 10px;
    display: inline-block;
    padding-left: 100px;
    padding-top: 15px;
    float: left;
}

.nav {
    color: #fff;
    display: inline-block;
    float: left;

    &__link {
        display: inline-block;
        font-family: FSElliotPro;
        text-transform: uppercase;
        font-size: 13px;
        margin-right: 52px;
        margin-top: 21px;
    }

}

.nav-block {
    height: 100%;
    width: 1366px;
    margin: 0 auto;
}



.nav__link:after {
    margin-right: 0px;
}

.search {
    width: 41px;
    height: 100%;
    float: left;
    margin-left: 258px;
    background: #303030;
}

.search-img {
    margin-top: 20px;
    margin-left: 10px;
}

.header-info {
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 29px;
    border-bottom: 1px solid #e2e2e2;
}

.header-info__logo {
    margin-top: 32px;
    margin-left: 7px;
    float: left;
    font-size: 32px;
    font-family: FSElliotPro-Heavy;
    border-bottom: 2px solid #facb01;
}

.header-info__desc {
    float: left;
    margin-top: 26px;
    margin-left: 77px;
    font-size: 16px;
    font-family: FSElliotPro-Light;
    line-height: 21px;
}

.header-info__contacts {
    float: right;
    text-align: right;
    margin-top: 27px;
    margin-right: 2px;
}

.header-info__phone {
    font-family: FSElliotPro-Bold;
    font-size: 24px;
}

.header-info__signature {
    margin-top: 7px;
    font-size: 16px;
    font-family: FSElliotPro;
    color: #c7a100;
    border-bottom: 1px solid #c7a100;
    display: table;
    float: right;
}

.slider {
    padding: 35px 75px;
    position: relative;
}

.slider .owl-dots {
    position: absolute;
    right: 310px;
    bottom: 58px;
}

.slider .owl-dots .owl-dot.active{
    background: #facb01;
}

.slider .owl-dots .owl-dot{
    background: #191410;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}


.slider__img {
    float: left;
}

.slider__content {
    float: left;
    width: 565px;
    margin-top: 50px;
    background: #f4f3f8;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.slider__header {
    font-size: 33px;
    line-height: 40px;
    font-family: FSElliotPro-Heavy;
}

.slider__desc {
    font-size: 22px;
    font-family: FSElliotPro-Light;
    margin-top: 0px;
    line-height: 40px;
}

.slider__link {
    color: #c7a100;
    border-bottom: 1px solid #c7a100;
    display: table;
    font-size: 16px;
    font-family: FSElliotPro-Light;
    margin: 0 auto;
    margin-top: 10px;
}

.about {
    background-image: url(../img/about.png);
    background-size: cover;
    margin-top: 30px;
    height: 445px;
    text-align: center;
    color: #fff;
    padding-top: 85px;
}

.about__header {
    font-size: 35px;
    font-family: FSElliotPro-Heavy;
    text-transform: uppercase;
    line-height: 45px;
}

.about__desc {
    font-size: 18px;
    margin-top: 15px;
    font-family: FSElliotPro-Light;
    line-height: 26px;
}

.button {
    display: table;
    margin: 0 auto;
    padding: 20px 55px;
    border-radius: 52px;
        text-transform: uppercase;
    font-size: 13px;
    font-family: FSElliotPro-Heavy;
}

.button--yellow {
    color: #282828;
    background: #facb01;
}

.button--white {
    color: #282828;
    background: #fff;
}

.about__button {
    margin-top: 85px;
}

.our-services {
    float: left;
    width: 555px;
    height: 484px;
    background-image: url(../img/our-service.png);
    background-size: cover;
    padding-top: 160px;
    padding-left: 130px;
}

.our-services__header {
    font-size: 46px;
    font-family: FSElliotPro-Heavy;
}

.our-services__caption {
    margin-top: 25px;
    font-size: 22px;
    font-family: FSElliotPro-Bold;
    line-height: 26px;
}

.our-services__desc {
    font-size: 16px;
    font-family: FSElliotPro;
    margin-top: 14px;
    line-height: 24px;
}

.our-services__button {
    margin: 0;
    background: #fff;
    margin-top: 40px;
}

.news {
    float: left;
    width: 643px;
    height: 484px;
    padding-top: 160px;
    padding-left: 38px;
}

.news__header {
    font-size: 46px;
    font-family: FSElliotPro-Heavy;
}

.news__date {
    margin-top: 26px;
    font-size: 16px;
    font-family: FSElliotPro-Light;
    color: #a9a9a9;
}

.news__caption {
    margin-top: 5px;
    font-size: 22px;
    font-family: FSElliotPro-Bold;
    line-height: 26px;
}

.news__desc {
    font-size: 16px;
    font-family: FSElliotPro;
    margin-top: 3px;
    line-height: 24px;
}

.news__button {
    margin: 0;
    margin-top: 30px;
    text-decoration: underline;
}

.gallery {
    background: #f3f3f7;
    padding-top: 40px;
    overflow: hidden;
}

.gallery__header {
    margin-left: 132px;
    font-size: 46px;
    font-family: FSElliotPro-Heavy;
    display: table;
}

.gallery__button {
    margin: 0;
    float: right;
    margin-right: 100px;
    margin-top: -50px;
}

.gallery__box {
    margin-top: 35px;
    width: 105% !important;
    overflow: hidden;
    margin-left: -55px;
    position: relative;
}

.gallery__arrow {
    position: absolute;
    top: 140px;
}

.gallery__arrow--left {
    left: 180px;
}

.gallery__arrow--right {
    right: 110px;
}

.reviews {
    padding-top: 65px;
    padding-left: 130px;
}

.reviews__header {
    font-size: 46px;
    font-family: FSElliotPro-Heavy;
}

.reviews__box {
    width: 592px;
    float: left;
    margin-top: 22px;
}

.reviews__img {
    float: left;
    -webkit-box-shadow: 0px 20px 70px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 70px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 70px -20px rgba(0,0,0,0.75);
}

.reviews__caption {
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 18px;
    font-family: FSElliotPro-Bold;
}

.reviews__desc {
    float: left;
    margin-top: 11px;
    margin-left: 25px;
    width: 60%;
    font-family: FSElliotPro-Light;
    font-size: 18px;
    line-height: 24px;
}

.reviews__button {
    margin: 0;
    margin-left: 135px;
    margin-top: 30px;
}

.footer {
    background: #1c1c1c;
    color: #fff;
    padding-left: 93px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 50px;
}

.footer__copyright {
    float: left;
    font-size: 16px;
    font-family: FSElliotPro;
    line-height: 25px;
}

.footer__nav {
    float: left;
    margin-left: 120px;
    margin-top: -15px;
}

.footer__nav-link {
    display: inline-block;
    font-family: FSElliotPro;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 52px;
    margin-top: 21px;
}

.footer__phone {
    float: right;
    margin-right: 95px;
    font-size: 21px;
    font-family: FSElliotPro-Bold;
}

.popup-modal {
    width: 565px;
    margin: 0 auto;
    background: #eee;
    padding: 36px 0px;
    text-align: CENTER;
    color: #282828;
    position: relative;
}

.popup-modal__header {
    font-size: 35px;
    font-family: FSElliotPro-Bold;
}

.popup-modal__desc {
    font-size: 17px;
    font-family: FSElliotPro;
    margin-top: 19px;
    line-height: 25px;
}

.popup-modal__button {
    outline: none;
    border: none;
    margin-top: 30px;
}

.popup-modal__form {
    width: 400px;
    margin: 0 auto;
}

.popup-modal__input {
    width: 92%;
    height: 50px;
    border: none;
    padding: 0px 16px;
    margin-top: 30px;
    font-family: FSElliotPro-Light;
    font-size: 15px;
    outline: none;
}

.popup-modal__close {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}

/***** @MEDIA *****/
@media (max-width: 1200px) {
    .container {
        width: 1366px;
    }
}